*[data-adverts-ad*="fluid"] iframe[id^="google_ads_iframe_"] {
    margin-left: auto;
    margin-right: auto;
}.molads_puff_ad_3_off #puff_ad_3,
.molads_puff_ad_6_off #puff_ad_6,
.molads_puff_ad_9_off #puff_ad_9 {
  display: none;
}.molads_puff_ad_3_on #puff_ad_3,
.molads_puff_ad_6_on #puff_ad_6,
.molads_puff_ad_9_on #puff_ad_9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}.puff-ad {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  overflow-y: hidden;
  margin: 2em auto;
  padding: 0
}.article-preview-split + .puff-ad.adHolder {
    background-clip: content-box;
    margin-top: 10px;
    margin-bottom: 10px
}.puff-ad+.article-preview-split {
    border-top: 1px solid silver;
    margin-top: 0
}.puff-ad img {
    width: 100%;
    height: auto;
    position: static;
    display: block;
  }.puff-ad > div,
  .puff-ad iframe {
    margin: 0 auto;
    display: block;
  }.molads_native_puff_off .native_puff,
.molads_native_puff_off #native_puff {
  display: none;
}.native_puff .arrow-small-r,
#native_puff .arrow-small-r {
  display: none;
}article div.more a.native-related-article {
  display: inline
}article div.more a.native-related-article img {
    display: none;
  }article div.more a.native-related-article span::after {
    content: "Sponsored";
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    margin-left: 5px;
  }.mpu {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 12px auto;
  width: 300px
}.mpu.adHolder {
    margin-bottom: 2em;
    margin-top: 2em
}.mpu[data-adverts-ad*="fluid"] {
    width: auto
}.mpu > a,
  .mpu > iframe {
    display: block;
  }#comments .mpu {
    display: none
}.molads_mpu_mobile_top_on #mpu_mobile_top {
  display: block;
}.molads_mpu_mobile_top_off #mpu_mobile_top {
  display: none;
}.molads_mpu_mobile_bottom_on #mpu_mobile_bottom {
  display: block;
}.molads_mpu_mobile_bottom_off #mpu_mobile_bottom {
  display: none;
}.molads_mpu_mobile_upper_middle_on #mpu_mobile_upper_middle {
  display: block;
}.molads_mpu_mobile_upper_middle_off #mpu_mobile_upper_middle {
  display: none;
}.molads_mpu_mobile_lower_middle_off #mpu_mobile_lower_middle {
  display: none;
}.molads_mpu_mobile_lower_middle_on #mpu_mobile_lower_middle {
  display: block;
}.molads_mpu_mobile_on #mpu_mobile {
  display: block;
}.molads_mpu_mobile_off #mpu_mobile {
  display: none;
}.molads_mpu_comments_1_on #mpu_comments_1 {
  display: block;
}.molads_mpu_comments_2_on #mpu_comments_2 {
  display: block;
}.molads_native_mpu_on #native_mpu {
    display: block;
}.molads_native_mpu_off #native_mpu {
    display: none;
}#intro_ad {
  background-color: #000;
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 1002;
}@media only screen and (orientation: portrait) {
  .smart-banner #intro_ad {
    top: 82px;
  }
}:root {
  --header-height: 46px;
  --banner-height: 50px;
}@media all {
  .stickyBannerUnderlay {
    display: none;
  }
}@media screen and (orientation: portrait) {
  #stickyBannerUnderlay {
    position: fixed;
    bottom: 0 !important;
    left: 0;
    width: 100%;
    z-index: 1002;
    text-align: center;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: auto;
    background-color: hsla(0, 0%, 100%, .8);
    padding: 20px 0 20px 0;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2) !important;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2) !important;
  }

  #stickyBanner img, #stickyBanner iframe, #stickyBanner img, #stickyBanner object, #stickyBanner div {
    margin: 0 auto;
    display: block;
    bottom: 0;
  }

  #stickyBanner .GoogleActiveViewClass {
    width: 320px;
    margin: 0 auto;
  }

  #stickyBannerUnderlay .mol-ads-label {
    background-color: hsla(0,0%,100%,.8);
    padding: 4px;
    -webkit-box-shadow: 0 -1px 1px 0 rgba(0,0,0,0.2);
            box-shadow: 0 -1px 1px 0 rgba(0,0,0,0.2);
    border: none;
    border-radius: 4px 4px 0 0;
  }
}.molads_sticky_banner_off .scrollable-content > footer {
    padding-bottom: 0
}.molads_sticky_banner_on .scrollable-content > footer {
    padding-bottom: 102px
}@media screen and (orientation: landscape) {
  #stickyBanner {
    display: none;
  }
}@media screen and (orientation: portrait) {
  .molads_ldr_top_on #nav {
    bottom: 50px;
    bottom: var(--banner-height);
  }

  .molads_sticky_banner_off #stickyBanner,
  #stickyBanner.sticky-disabled {
    display: none;
  }

  .molads_sticky_banner_on #nav ul,
  .molads_sticky_banner_on #comments.comments-active {
    padding-bottom: 50px;
    padding-bottom: var(--banner-height);
  }
}.closeButton {
  position: absolute;
  width: 28px;
  height: 28px;
  top: -28px;
  right: 0;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='13' height='13' viewBox='341 8 13 13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%234F4F4F' d='M354 9.31L352.69 8l-5.19 5.19L342.31 8 341 9.31l5.19 5.19-5.19 5.19 1.31 1.31 5.19-5.19 5.19 5.19 1.31-1.31-5.19-5.19z' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-size: 13px 13px;
  background-position: 9px;
  background-color: hsla(0,0%,100%,.8);
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 -1px 1px 0 rgba(0,0,0,0.2);
          box-shadow: 0 -1px 1px 0 rgba(0,0,0,0.2);
  border: none;
  border-radius: 12px 0 0 0;
}#adx-trk-wrp {
    display: none;
}.puff .linkro-wocc .mol-branded-content .mol-branded-content__blocker,
.puff .linkro-wocc .mol-branded-content .mol-branded-content__blocker:hover {
  background-color: transparent;
  min-height: 0;
}.puff .linkro-wocc .branded-content__description a,
.puff .linkro-wocc .branded-content__description a:hover {
  color: #004db3;
  min-height: 0;
  background-color: transparent;
}.branded-content {
  font-family: Arial, Helvetica, sans-serif;
  border-top: 1px solid #00aad2;
  border-bottom: 1px solid #00aad2;
  font-style: normal;
  font-weight: bold;
}.branded-content__title {
  padding: 5px 0 3px;
  width: 84px;
  height: 19px;
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
  line-height: 1.46;
  text-align: left;
  color: #00aad2;
}.branded-conent__description {
  text-align: left;
  color: #004db3;
  background-color: #f0f0f0;
  padding: 10px;
}.puff-ad .vast-blocker,
.puff .linkro-wocc .puff-ad .vast-blocker:hover {
  background-color: transparent;
}.mol-mobile .adHolder .branded-content__title {
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;
  }.adHolder {
  position: relative;
  margin-top: 2em;
}.mol-ads-label-container {
  background: transparent;
  color: grey;
  display: block;
  font-size: 1em;
  left: 0;
  position: absolute;
  text-align: left;
  text-transform: uppercase;
  top: -1.5em;
  width: 100%;
  pointer-events: none;
}.mol-ads-label-container {
  font-size: 0.7em;
  left: 10px;
}.mol-ads-cmp .mol-ads-cmp--banner {
  background-color: #0a50b0;
  color: #fff;
}#money .mol-ads-cmp .mol-ads-cmp--banner {
  background-color: #451344;
}.mol-ads-cmp a {
  color: #004db3;
}.mol-ads-cmp .mol-ads-cmp--banner a {
  color: #fff;
}.mol-ads-cmp .mol-ads-cmp--close {
  padding: 0.1em;
}.mol-ads-cmp--open #homePageCover {
  z-index: 100000;
}.taboola {
  margin-left: 2px;
  margin-right: 2px;
}#taboola-mobile-below-main-column {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}#taboola-mobile-bottom-of-the-article {
  margin-top: 2px;
}#inread_player_mw {
  margin-bottom: 2rem;
  text-align: center;
}#inread_player_mw>div {
  display: inline-block;
}.mol-mobile #mobileGallerySlider > .top-bar .close-button,
.mol-mobile #mobileGallerySlider > .mobile-gallery-bar,
.mol-mobile #mobileGallerySlider > .caption-bar { position: absolute; }#sticky_banner_gallery_top, #sticky_banner_gallery_bottom {
  position: absolute ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
  z-index: 10000;
}#sticky_banner_gallery_top { top: 0; }#sticky_banner_gallery_bottom { bottom: 0; }#sticky_banner_gallery_top > .placeholder, #sticky_banner_gallery_bottom > .placeholder {
  width: 320px;
  height: 50px;
}.cnx-main-container ~ .connatix-placeholder {
  display: none;
}#chromelessPlayer {
  display: inline;
  position: fixed;
  bottom: 5px;
  right: 5px;
  border: none;
  overflow: hidden;
  z-index: 10000;
  background-repeat: no-repeat;
  background-size: cover;
  visibility: hidden;
}@media (max-device-width: 900px) and (orientation: landscape) {
  #chromelessPlayer {
    -webkit-transform: scale(0.7681);
            transform: scale(0.7681);
    right: -38px;
    bottom: -20px;
  }
}#outerWrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden
}#outerWrapper .jw-reset .jw-title-primary {
    font-size: 16px;
    white-space: inherit;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 0px;
    text-shadow: 0 0 5px black;
  }#closeButton {
  position: absolute;
  top: 5%;
  left: 90%;
  display: inline;
  z-index: 2147483647;
}#playerDiv {
  position: absolute;
  top: 0px;
  left: 0px;
  border: none;
  z-index: auto;
  display: inline;
  visibility: visible;
}#readMoreWrapper {
  position: absolute;
  top: 3%;
  left: 9%;
  display: inline;
  z-index: 999999;
  font-size: 18px;
  font-family: sans-serif;
  text-shadow: 2px 2px 5px 'black';
  text-shadow: 0 0 5px black;
  color: white;
  cursor: default
}#readMoreWrapper:hover {
    color: blue
}.minute-media-container{clear:both;max-width:636px;margin:0 auto;overflow:hidden}.minute-media-container .minute-media.minute-media-label .monti-placeholder-mm-player{margin-bottom:4em !important}.minute-media-container .minute-media.minute-media-label .monti-placeholder-mm-player::before{color:gray;display:block;content:"ADVERTISEMENT";font-size:.9em;padding:.5em}.minute-media-container .minute-media.watermark{display:block;height:0;margin-bottom:16px;padding-bottom:60%}.minute-media-container .minute-media .monti-placeholder-mm-player{margin:0px 0px 16px !important}.minute-media-container .minute-media.watermark{padding-bottom:67%}.watermark,.billboard-watermark{background-color:#f2f2f2;margin-left:auto;margin-right:auto;position:relative}.watermark::after,.billboard-watermark::after{background:transparent no-repeat center url("https://i.dailymail.co.uk/i/mads/v2/logo_gb.png");display:block;content:"";width:142px;height:23px;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);z-index:0}.us_country .watermark::after,.us_country .billboard-watermark::after{background-image:url("https://i.dailymail.co.uk/i/mads/v2/logo_us.png");width:166px;height:25px}.au_country .watermark::after,.au_country .billboard-watermark::after{background-image:url("https://i.dailymail.co.uk/i/mads/v2/logo_au.png");width:196px;height:23px}.tlc-money .watermark::after,.tim-mobile .watermark::after,.tim-desktop .watermark::after,.tlc-money .billboard-watermark::after,.tim-mobile .billboard-watermark::after,.tim-desktop .billboard-watermark::after{background-image:url("https://i.dailymail.co.uk/i/mads/v2/logo_thisismoney.png");width:154px;height:18px}.watermark.adHolder,.billboard-watermark.adHolder{-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;overflow:hidden;position:relative}.watermark.adHolder .ad-exp-container>*,.billboard-watermark.adHolder .ad-exp-container>*{position:relative;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}.watermark>*,.billboard-watermark>*{position:relative;z-index:1}.watermark .mol-ads-label-container,.billboard-watermark .mol-ads-label-container{position:absolute}.adHolder:not(#mpu_player):not(#stickyBanner) .mol-ads-label-container{display:none}.watermark{-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.watermark.mpu_puff_wrapper .adHolder{background:none}.watermark.mpu_puff_wrapper .adHolder::after{display:none}.molads_inread_player_off .inread_player_top_container{display:none}.inread_player_top_container{clear:both}.inread_player_top_container #inread_player_top.watermark{height:0;margin-bottom:16px;padding-bottom:56.25%}.molads_inread_player_off #mobile-content .inread_player_top_container{display:none}

/*# sourceMappingURL=mol-adverts.mobile.css.map*/