<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Native Ads | 728X90</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="description" content="This is Ads of Marco Polo" />
  <link rel="stylesheet" href="trendii-sdk-daily-mail-all-product.css" />
</head>

<body class="trendii-ads-body">
  <!-- 728X90 Ads wrapper start  -->
  <div class="trendii-responsive-ad-wrapper" id="trendii-responsive-ad-wrapper">
    <div class="trendii-ad-outer-wrapper">
      <div class="trendii-ad-header">
        Shop the look with
        <div class="trendii-brand-logo">
          <!-- <div id="retailer-logo" title="TRENDii" class="trendii-logo-container"></div> -->
          <img src="https://cdn.trendii.com/native-ads-sdk/assets/trendii.png" id="retailer-logo" title="TRENDii"
            class="trendii-logo-container" />
        </div>
      </div>
      <div class="trendii-product-item-wrapper" id="trendii-products-container-728X90">
        <div class="trendii-one-product-wrapper">
          <div class="trendii-row">
            <div class="trendii-col-12">
              <div class="trendii-product-item-container">
                <div class="trendii-product-item">
                  <div class="trendii-product-item-image" style="
                        background-image: url(https://cdn.trendii.com/assets/4.jpg);
                      ">
                    <span class="trendii-onsale">ON SALE</span>
                  </div>
                </div>
                <div class="trendii-product-details-wrapper">
                  <!-- <b class="trendii-brand-name">MARCO POLO POLO POLO POLOPOLOPOLO POLO POLO POLO vPOLO
										POLO POLO POLO POLO POLO POLO POLO POLO POLO POLO POLO </b> -->
                  <p class="trendii-product-name">
                    M2K tekno sneakers tekno tekno tekno tekno tekno v tekno v
                    tekno tekno tekno v tekno v tekno tekno tekno v tekno v
                  </p>
                  <em class="trendii-product-price">$260</em>

                  <!-- <b class="trendii-brand-name">MARCO POLO POLO POLO POLOPOLOPOLO</b>
                  <p class="trendii-product-name">M2K tekno sneakers tekno tekno v</p>
                  <em class="trendii-product-price">$260</em> -->

                  <!-- 
									<b class="trendii-brand-name">MARCO POLO </b>
									<p class="trendii-product-name">M2K tekno sneakers</p>
									<em class="trendii-product-price">$260</em> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 728X90 Ads wrapper end  -->

  <br />
  <!-- 728X90 Ads wrapper start  -->
  <div class="trendii-responsive-ad-wrapper" id="trendii-responsive-ad-wrapper">
    <div class="trendii-ad-outer-wrapper">
      <div class="trendii-ad-header">
        Shop the look with
        <div class="trendii-brand-logo">
          <!-- <div id="retailer-logo" title="TRENDii" class="trendii-logo-container"></div> -->
          <img src="https://cdn.trendii.com/native-ads-sdk/assets/trendii.png" id="retailer-logo" title="TRENDii"
            class="trendii-logo-container" />
        </div>
      </div>
      <div class="trendii-product-item-wrapper" id="trendii-products-container-728X90">
        <div class="trendii-two-product-wrapper">
          <div class="trendii-row">
            <div class="trendii-col-6">
              <div class="trendii-product-item-container">
                <div class="trendii-product-item">
                  <div class="trendii-product-item-image" style="
                        background-image: url(https://cdn.trendii.com/assets/4.jpg);
                      ">
                    <span class="trendii-onsale">ON SALE</span>
                  </div>
                </div>
                <div class="trendii-product-details-wrapper">
                  <!-- <b class="trendii-brand-name">MARCO POLO POLO POLO POLO POLO POLO POLO</b> -->
                  <p class="trendii-product-name">
                    M2K tekno sneakers tekno tekno tekno tekno tekno v
                  </p>
                  <em class="trendii-product-price">$260</em>
                </div>
              </div>
            </div>
            <div class="trendii-col-6">
              <div class="trendii-product-item-container">
                <div class="trendii-product-item">
                  <div class="trendii-product-item-image" style="
                        background-image: url(https://cdn.trendii.com/assets/4.jpg);
                      ">
                    <span class="trendii-onsale">ON SALE</span>
                  </div>
                </div>
                <div class="trendii-product-details-wrapper">
                  <!-- <b class="trendii-brand-name">MARCO POLO POLO POLO POLO</b> -->
                  <p class="trendii-product-name">
                    M2K tekno sneakers tekno tekno tekno tekno tekno v
                  </p>
                  <em class="trendii-product-price">$260</em>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 728X90 Ads wrapper end  -->
  <br />
  <!-- 728X90 Ads wrapper start  -->
  <div class="trendii-responsive-ad-wrapper" id="trendii-responsive-ad-wrapper">
    <div class="trendii-ad-outer-wrapper">
      <div class="trendii-ad-header">
        Shop the look with
        <div class="trendii-brand-logo">
          <!-- <div id="retailer-logo" title="TRENDii" class="trendii-logo-container"></div> -->
          <img src="https://cdn.trendii.com/native-ads-sdk/assets/trendii.png" id="retailer-logo" title="TRENDii"
            class="trendii-logo-container" />
        </div>
      </div>
      <div class="trendii-product-item-wrapper" id="trendii-products-container-728X90">
        <div class="trendii-three-product-wrapper">
          <div class="trendii-row trendii-row-cols-3">
            <div class="trendii-col">
              <div class="trendii-product-item-container">
                <div class="trendii-product-item">
                  <div class="trendii-product-item-image" style="
                        background-image: url(https://cdn.trendii.com/assets/4.jpg);
                      ">
                    <span class="trendii-onsale">ON SALE</span>
                  </div>
                </div>
                <div class="trendii-product-details-wrapper">
                  <!-- <b class="trendii-brand-name">MARCO POLO POLO POLO POLO POLO POLO POLO</b> -->
                  <p class="trendii-product-name">
                    The north face - perial wind jaket tekno sne tekno tekno tekno tekno tekno v
                  </p>
                  <em class="trendii-product-price">$260</em>
                </div>
                <div class="trendii-product-details-wrapper-mobile">
                  <p class="trendii-product-name">Relaxed Stripe Dress</p>
                  <em class="trendii-product-price">$119.00</em>
                </div>
              </div>
            </div>
            <div class="trendii-col">
              <div class="trendii-product-item-container">
                <div class="trendii-product-item">
                  <div class="trendii-product-item-image" style="
                        background-image: url(https://cdn.trendii.com/assets/4.jpg);
                      ">
                    <span class="trendii-onsale">ON SALE</span>
                  </div>
                </div>
                <div class="trendii-product-details-wrapper">
                  <!-- <b class="trendii-brand-name">MARCO POLO POLO POLO POLO</b> -->
                  <p class="trendii-product-name">
                    Superdry - copper M2K tekno sneakers tekno tekno tekno tekno tekno v
                  </p>
                  <em class="trendii-product-price">$260</em>
                </div>
                <div class="trendii-product-details-wrapper-mobile">
                  <p class="trendii-product-name">Relaxed Stripe Dress</p>
                  <em class="trendii-product-price">$119.00</em>
                </div>
              </div>
            </div>
            <div class="trendii-col">
              <div class="trendii-product-item-container">
                <div class="trendii-product-item">
                  <div class="trendii-product-item-image" style="
                        background-image: url(https://cdn.trendii.com/assets/4.jpg);
                      ">
                    <span class="trendii-onsale">ON SALE</span>
                  </div>
                </div>
                <div class="trendii-product-details-wrapper">
                  <!-- <b class="trendii-brand-name">MARCO POLO POLO POLO POLO POLO POLO POLO</b> -->
                  <p class="trendii-product-name">
                    M2K tekno sneakers tekno tekno tekno tekno tekno v
                  </p>
                  <em class="trendii-product-price">$260</em>
                </div>
                <div class="trendii-product-details-wrapper-mobile">
                  <p class="trendii-product-name">Relaxed Stripe Dress</p>
                  <em class="trendii-product-price">$119.00</em>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 728X90 Ads wrapper end  -->
  <br />
  <!-- 728X90 Ads wrapper start  -->
  <div class="trendii-responsive-ad-wrapper" id="trendii-responsive-ad-wrapper">
    <div class="trendii-ad-outer-wrapper">
      <div class="trendii-ad-header">
        Shop the look with
        <div class="trendii-brand-logo">
          <!-- <div id="retailer-logo" title="TRENDii" class="trendii-logo-container"></div> -->
          <img src="https://cdn.trendii.com/native-ads-sdk/assets/trendii.png" id="retailer-logo" title="TRENDii"
            class="trendii-logo-container" />
        </div>
      </div>

      <div class="trendii-product-item-wrapper" id="trendii-products-container-728X90">
        <div class="trendii-four-product-wrapper">
          <div class="trendii-row row-cols-4">
            <div class="trendii-col">
              <div class="trendii-product-item-container">
                <div class="trendii-product-item">
                  <div class="trendii-product-item-image" style="
                        background-image: url(https://cdn.trendii.com/assets/4.jpg);
                      ">
                    <span class="trendii-onsale">ON SALE</span>
                  </div>
                  <div class="trendii-product-details-wrapper">
                    <!-- <b class="trendii-brand-name">MARCO POLO </b> -->
                    <p class="trendii-product-name">
                      M2K tekno sneakers tekno tekno tekno tekno tekno v
                    </p>
                    <em class="trendii-product-price">$260</em>
                  </div>
                </div>
                <div class="trendii-product-details-wrapper-mobile">
                  <p class="trendii-product-name">Relaxed Stripe Dress</p>
                  <em class="trendii-product-price">$119.00</em>
                </div>
              </div>
            </div>
            <div class="trendii-col">
              <div class="trendii-product-item-container">
                <div class="trendii-product-item">
                  <div class="trendii-product-item-image" style="
                        background-image: url(https://cdn.trendii.com/assets/4.jpg);
                      ">
                    <span class="trendii-onsale">ON SALE</span>
                  </div>
                  <div class="trendii-product-details-wrapper">
                    <!-- <b class="trendii-brand-name">MARCO POLO </b> -->
                    <p class="trendii-product-name">
                      M2K tekno sneakers tekno tekno tekno tekno tekno v
                    </p>
                    <em class="trendii-product-price">$260</em>
                  </div>
                </div>

                <div class="trendii-product-details-wrapper-mobile">
                  <p class="trendii-product-name">Relaxed Stripe Dress</p>
                  <em class="trendii-product-price">$119.00</em>
                </div>
              </div>
            </div>
            <div class="trendii-col">
              <div class="trendii-product-item-container">
                <div class="trendii-product-item">
                  <div class="trendii-product-item-image" style="
                        background-image: url(https://cdn.trendii.com/assets/4.jpg);
                      ">
                    <span class="trendii-onsale">ON SALE</span>
                  </div>
                  <div class="trendii-product-details-wrapper">
                    <!-- <b class="trendii-brand-name">MARCO POLO </b> -->
                    <p class="trendii-product-name">
                      M2K tekno sneakers tekno tekno tekno tekno tekno v
                    </p>
                    <em class="trendii-product-price">$260</em>
                  </div>
                </div>

                <div class="trendii-product-details-wrapper-mobile">
                  <p class="trendii-product-name">Relaxed Stripe Dress</p>
                  <em class="trendii-product-price">$119.00</em>
                </div>
              </div>
            </div>
            <div class="trendii-col">
              <div class="trendii-product-item-container">
                <div class="trendii-product-item">
                  <div class="trendii-product-item-image" style="
                        background-image: url(https://cdn.trendii.com/assets/4.jpg);
                      ">
                    <span class="trendii-onsale">ON SALE</span>
                  </div>
                  <div class="trendii-product-details-wrapper">
                    <!-- <b class="trendii-brand-name">MARCO POLO </b> -->
                    <p class="trendii-product-name">
                      M2K tekno sneakers tekno tekno tekno tekno tekno v
                    </p>
                    <em class="trendii-product-price">$260</em>
                  </div>
                </div>

                <div class="trendii-product-details-wrapper-mobile">
                  <p class="trendii-product-name">Relaxed Stripe Dress</p>
                  <em class="trendii-product-price">$119.00</em>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 728X90 Ads wrapper end  -->
  <br />
  <!-- 728X90 Ads wrapper start  -->
  <div class="trendii-responsive-ad-wrapper" id="trendii-responsive-ad-wrapper">
    <div class="trendii-ad-outer-wrapper">
      <div class="trendii-ad-header">
        Shop the look with
        <div class="trendii-brand-logo">
          <div id="retailer-logo" title="TRENDii" class="trendii-logo-container"></div>
        </div>
      </div>
      <div class="trendii-product-item-wrapper" id="trendii-products-container-728X90">
        <div class="five-product-wrapper">
          <div class="trendii-row row-cols-5">
            <div class="trendii-col">
              <div class="trendii-product-item-container">
                <div class="trendii-product-item">
                  <div class="trendii-product-item-image" style="
                        background-image: url(https://cdn.trendii.com/assets/4.jpg);
                      "></div>
                  <div class="trendii-product-details-wrapper">
                    <b class="trendii-brand-name">MARCO POLO </b>
                    <p class="trendii-product-name">M2K tekno sneakers</p>
                    <em class="trendii-product-price">$260</em>
                  </div>
                </div>
                <!-- <div class="trendii-product-item"
									style="background-image: url(https://cdn.trendii.com/assets/2.jpg)">
									<span class="trendii-onsale">ON SALE</span>
									<div class="trendii-product-details-wrapper">
										<b class="trendii-brand-name">MARCO POLO </b>
										<p class="trendii-product-name">M2K tekno sneakers</p>
										<em class="trendii-product-price">$260</em>
									</div>
								</div> -->
              </div>
            </div>
            <div class="trendii-col">
              <div class="trendii-product-item-container">
                <div class="trendii-product-item">
                  <div class="trendii-product-item-image" style="
                        background-image: url(https://cdn.trendii.com/assets/4.jpg);
                      "></div>
                  <div class="trendii-product-details-wrapper">
                    <b class="trendii-brand-name">MARCO POLO </b>
                    <p class="trendii-product-name">M2K tekno sneakers</p>
                    <em class="trendii-product-price">$260</em>
                  </div>
                </div>
                <!-- <div class="trendii-product-item"
																style="background-image: url(https://cdn.trendii.com/assets/2.jpg)">
																<span class="trendii-onsale">ON SALE</span>
																<div class="trendii-product-details-wrapper">
																	<b class="trendii-brand-name">MARCO POLO </b>
																	<p class="trendii-product-name">M2K tekno sneakers</p>
																	<em class="trendii-product-price">$260</em>
																</div>
															</div> -->
              </div>
            </div>
            <div class="trendii-col">
              <div class="trendii-product-item-container">
                <div class="trendii-product-item">
                  <div class="trendii-product-item-image" style="
                        background-image: url(https://cdn.trendii.com/assets/4.jpg);
                      "></div>
                  <div class="trendii-product-details-wrapper">
                    <b class="trendii-brand-name">MARCO POLO </b>
                    <p class="trendii-product-name">M2K tekno sneakers</p>
                    <em class="trendii-product-price">$260</em>
                  </div>
                </div>
              </div>
            </div>
            <div class="trendii-col">
              <div class="trendii-product-item-container">
                <div class="trendii-product-item">
                  <div class="trendii-product-item-image" style="
                        background-image: url(https://cdn.trendii.com/assets/4.jpg);
                      "></div>
                  <div class="trendii-product-details-wrapper">
                    <b class="trendii-brand-name">MARCO POLO </b>
                    <p class="trendii-product-name">M2K tekno sneakers</p>
                    <em class="trendii-product-price">$260</em>
                  </div>
                </div>
              </div>
            </div>
            <div class="trendii-col">
              <div class="trendii-product-item-container">
                <div class="trendii-product-item">
                  <div class="trendii-product-item-image" style="
                        background-image: url(https://cdn.trendii.com/assets/4.jpg);
                      "></div>
                  <div class="trendii-product-details-wrapper">
                    <b class="trendii-brand-name">MARCO POLO </b>
                    <p class="trendii-product-name">M2K tekno sneakers</p>
                    <em class="trendii-product-price">$260</em>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 728X90 Ads wrapper end  -->
  <br />
  <!-- 728X90 Ads wrapper start  -->
  <div class="trendii-responsive-ad-wrapper" id="trendii-responsive-ad-wrapper">
    <div class="trendii-ad-outer-wrapper">
      <div class="trendii-ad-header">
        Shop the look with
        <div class="trendii-brand-logo">
          <div id="retailer-logo" title="TRENDii" class="trendii-logo-container"></div>
        </div>
      </div>

      <div class="trendii-product-item-wrapper" id="trendii-products-container-728X90">
        <div class="six-product-wrapper">
          <div class="trendii-row">
            <div class="col-2">
              <div class="trendii-product-item-container">
                <div class="trendii-product-item">
                  <div class="trendii-product-item-image" style="
                        background-image: url(https://cdn.trendii.com/assets/4.jpg);
                      "></div>
                  <div class="trendii-product-details-wrapper">
                    <b class="trendii-brand-name">MARCO POLO </b>
                    <p class="trendii-product-name">M2K tekno sneakers</p>
                    <em class="trendii-product-price">$260</em>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="trendii-product-item-container">
                <div class="trendii-product-item">
                  <div class="trendii-product-item-image" style="
                        background-image: url(https://cdn.trendii.com/assets/4.jpg);
                      "></div>
                  <div class="trendii-product-details-wrapper">
                    <b class="trendii-brand-name">MARCO POLO </b>
                    <p class="trendii-product-name">M2K tekno sneakers</p>
                    <em class="trendii-product-price">$260</em>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="trendii-product-item-container">
                <div class="trendii-product-item">
                  <div class="trendii-product-item-image" style="
                        background-image: url(https://cdn.trendii.com/assets/4.jpg);
                      "></div>
                  <div class="trendii-product-details-wrapper">
                    <b class="trendii-brand-name">MARCO POLO </b>
                    <p class="trendii-product-name">M2K tekno sneakers</p>
                    <em class="trendii-product-price">$260</em>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="trendii-product-item-container">
                <div class="trendii-product-item">
                  <div class="trendii-product-item-image" style="
                        background-image: url(https://cdn.trendii.com/assets/4.jpg);
                      "></div>
                  <div class="trendii-product-details-wrapper">
                    <b class="trendii-brand-name">MARCO POLO </b>
                    <p class="trendii-product-name">M2K tekno sneakers</p>
                    <em class="trendii-product-price">$260</em>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="trendii-product-item-container">
                <div class="trendii-product-item">
                  <div class="trendii-product-item-image" style="
                        background-image: url(https://cdn.trendii.com/assets/4.jpg);
                      "></div>
                  <div class="trendii-product-details-wrapper">
                    <b class="trendii-brand-name">MARCO POLO </b>
                    <p class="trendii-product-name">M2K tekno sneakers</p>
                    <em class="trendii-product-price">$260</em>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="trendii-product-item-container">
                <div class="trendii-product-item">
                  <div class="trendii-product-item-image" style="
                        background-image: url(https://cdn.trendii.com/assets/4.jpg);
                      "></div>
                  <div class="trendii-product-details-wrapper">
                    <b class="trendii-brand-name">MARCO POLO </b>
                    <p class="trendii-product-name">M2K tekno sneakers</p>
                    <em class="trendii-product-price">$260</em>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 728X90 Ads wrapper end  -->
</body>

</html>