* {
  outline: none !important;
}

body {
  font-size: 16px;
  line-height: 20px;
  font-family: "Nunito Sans", sans-serif;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: subpixel-antialiased;
  margin: 0;
  padding: 0;
}

p,
ul {
  margin: 0;
}

.btn {
  background: none;
  box-shadow: none !important;
  outline: none !important;
  border: 0;
  cursor: pointer;
}

.btn.btn-slider {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* padding: 7px;
  margin: 0 4px; */
  /* border-radius: 50%; */
  position: relative;
  top: 39px;
  padding: 0;
  flex: 0 0 40px;
  background: #fff;
  max-width: 40px;
  left: 3px;
}

.btn.btn-slider img {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
}

.block728X90-slider-wrapper {
  display: block;
  padding: 5px 0px;
  /* width: 728px; */
  /* height: 90px; */
  /* background: cornflowerblue; */
}

.block728X90-slider-wrapper .outer {
  /* display: flex; */
  /* justify-content: flex-start; */
  /* padding: 5px 0; */
  /* flex-direction: column; */
}

.block728X90-slider-wrapper .brand-logo {
  /* margin-right: 4px; */
  /* width: 27px; */
  /* min-width: 27px; */
  /* display: inline-block; */
  /* height: 80px; */
  /* border-top-right-radius: 5px; */
  /* border-bottom-right-radius: 5px; */
  /* background: #f32b97; */
}

.block728X90-slider-wrapper .brand-logo .logo-container {
  /* display: block; */
  /* margin: 5px auto; */
  margin: 0px 8px;
  /* max-width: 80px; */
  width: auto;
  /* min-height: 10px; */
  max-height: 13px;
  /* background: url(https://cdn.trendii.com/native-ads-sdk/assets/levis.png) no-repeat center center; */
  /* background-size: contain; */
}

.block728X90-slider-wrapper .brand-logo .brand-title {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}

.block728X90-slider-wrapper .trendii-ad-header-title {
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.block728X90-slider-wrapper .product-item-wrapper {
  /* width: calc(100% - 33px); */
  padding: 5px 0;
}

.block728X90-slider-wrapper .product-item-wrapper .slider-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.block728X90-slider-wrapper .product-item-wrapper .slider-title .products-title {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333333;
  margin: 0;
}

.block728X90-slider-wrapper .all-product {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.block728X90-slider-wrapper .product-redirection-link {
  text-decoration: none;
  color: unset;
}

.block728X90-slider-wrapper .product-item {
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 125px;
  box-sizing: border-box;
  border: 1px solid #000;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.block728X90-slider-wrapper .product-item + .product-item {
  margin-left: 10px;
}

.block728X90-slider-wrapper .product-item:after {
  content: "";
  position: absolute;
  top: -1px;
  bottom: 0;
  right: -1px;
  left: -1px;
  transition: all 0.2s ease;
  opacity: 0;
  visibility: hidden;
}

.block728X90-slider-wrapper .product-item:hover:after {
  opacity: 1;
  visibility: visible;
  border: 1px solid #c562a5;
  border-radius: 0;
}

.block728X90-slider-wrapper .product-item .product-details-wrapper,
.block728X90-slider-wrapper .product-item:hover .onsale {
  opacity: 0;
  visibility: hidden;
}

.block728X90-slider-wrapper .product-item:hover .product-details-wrapper {
  opacity: 1;
  visibility: visible;
  bottom: 0;
}

.block728X90-slider-wrapper .product-item .product-details-wrapper {
  color: #fff;
  z-index: 1;
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  /* width: 100%; */
  padding: 5px;
  overflow: hidden;
  transition: all 0.3s ease;
  background: rgb(197 98 165 / 80%);
  display: block;
}

.block728X90-slider-wrapper .product-item .product-details-wrapper b {
  display: block;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  max-height: 12px;
  overflow: hidden;
  padding-bottom: 0;
  margin-bottom: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.block728X90-slider-wrapper .product-item .product-details-wrapper p {
  display: block;
  font-size: 10px;
  line-height: 12px;
  font-weight: 200;
  max-height: 12px;
  overflow: hidden;
  padding-bottom: 0;
  margin-bottom: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.block728X90-slider-wrapper .product-item .product-details-wrapper span {
  display: block;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  max-height: 12px;
  overflow: hidden;
  padding-bottom: 0;
  margin-bottom: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.block728X90-slider-wrapper .product-item .product-details-wrapper em {
  display: block;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  max-height: 14px;
  font-style: normal;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.block728X90-slider-wrapper .product-item .onsale {
  display: block;
  padding: 2px 4px;
  text-transform: uppercase;
  position: absolute;
  top: 9px;
  left: 0px;
  width: 30px;
  background: #c562a5;
  color: #fff;
  font-size: 7px;
  line-height: 10px;
  z-index: 2;
  transition: all 0.2s ease;
}

.block728X90-slider-wrapper .product-item .onsale:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  border-left: 0 solid transparent;
  border-right: 7px solid #fff0;
  border-top: 7px solid #c562a5;
  border-bottom: 7px solid #c562a5;
}
.block728X90-slider-wrapper .product-details-wrapper-mobile {
  display: none;
}

.ads-inside-the-images {
  background: #000000;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 20px;
  right: 0;
  opacity: 0.5;
  z-index: 9999;
}

/* MEDIA QUERIES STARTS HERE */

@media (min-width: 768px) {
  .block728X90-slider-wrapper .product-item:hover {
    border: 1px solid rgb(197 98 165 / 80%);
  }
}

@media (max-width: 767px) {
  .block728X90-slider-wrapper .product-item {
    width: 85px;
    height: 100px;
  }
  .block728X90-slider-wrapper .product-item .onsale {
    width: 32px;
    font-size: 6px;
    padding: 2px 2px;
  }
  .block728X90-slider-wrapper .product-details-wrapper-mobile {
    z-index: 1;
    width: 85px;
    padding: 5px 0;
    overflow: hidden;
    display: block;
  }
  .block728X90-slider-wrapper .product-details-wrapper-mobile p {
    display: block;
    font-size: 11px;
    line-height: 14px;
    font-weight: 400;
    max-height: 12px;
    overflow: hidden;
    padding-bottom: 0;
    margin-bottom: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .block728X90-slider-wrapper .product-details-wrapper-mobile em {
    display: block;
    font-size: 11px;
    line-height: 14px;
    font-weight: 400;
    max-height: 14px;
    font-style: normal;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .block728X90-slider-wrapper .product-item:hover:after {
    opacity: 0 !important;
    visibility: hidden !important;
  }

  .block728X90-slider-wrapper .product-item:hover .onsale {
    opacity: 1 !important;
    visibility: visible !important;
  }
  .block728X90-slider-wrapper .product-item .product-details-wrapper {
    opacity: 0 !important;
    visibility: hidden !important;
  }
  .block728X90-slider-wrapper .product-item:hover .product-details-wrapper {
    opacity: 1 !important;
    visibility: hidden !important;
    bottom: 0;
  }
}
